* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: block;
    font-family: "Roboto",Helvetica,sans-serif;
    margin: 0px;
}   


nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #1c1c1c;
    justify-content: space-between;
    padding: 15px 7vh ;
    align-items: center;
    z-index: 10;
    transition: 0.2s;
}
nav div{
    color:white;
}
header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    color:black;
    background-color: #a4a4a4;
    height: 70%;
    padding: 10px;
    margin: 30px;
}

.searchedSection{
    margin: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#searchBtn{
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #858585;
    cursor: pointer;
}

.selectionTable{
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.resTable{
    overflow:auto;
    border-radius: 10px;
}
.resTable table{
    margin: 20px;

}
.resTable table,th,td{
    padding: 10px 10px 10px 10px;
    border: solid black 1px;
    border-collapse: collapse;
    text-align: left;
}
section {
    background-color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
section div{
    color:black;
    background-color: #ececec;
    height: 70%;
    padding: 10px;
    margin: 30px;
}
form{
    color:black;
    background-color: #ececec;
    height: 70%;
    padding: 10px;
    margin: 30px;
}
.createForm{
    padding: 20px;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.success{
    color: white;
    background-color: green;
    padding: 10px;
    transition: 0.5s;
}